/*Base CSS*/
@import url('https://fonts.googleapis.com/css?family=Khula:300,400,600,700,800');

/*CSS For Header Area Start*/
.alignleft {
    float: left;
    margin-right: 15px;
}

.alignright {
    float: right;
    margin-right: 15px;
}

.aligncenter {
    display: block;
    margin: 0 auto 15px;
}

a:focus, input:focus, textarea:focus, button:focus, { 
    outline: 0 solid;
}

img {
    max-width: 100%;
    height: auto;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 15px;
    font-weight: 400;
    color: #373737
}

body {
    font-family: 'Khula', sans-serif;
    font-size: 15px;
    color: #999;
}

a:hover {
    text-decoration: none;
}

.mainmenu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.mainmenu li {
    position: relative;
    display: inline-block;
}

.mainmenu li a {
    display: block;
    color: #888;
    padding: 12px 15px;
}

.boxed-btn, input[type="submit"],button[type="submit"] {
    display: inline-block;
    background: #EA4971;
    color: #fff;
    font-size: 14px;
    padding: 12px 20px;
    border-radius: 2px;
    border: none;
}
/*CSS For Header Area End*/

/*CSS For Hero Area Start*/


.hero-area {
    font-weight: 300;
    padding: 150px 0;
    border-bottom: 2px solid #F7F7F7;
}

.hero-area h1 {
    font-size: 40px;
    max-width: 440px;
    margin-bottom: 20px;
    padding-top: 25px;
}

input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="tel"], textarea {
    border: 2px solid #f0f0f0;
    padding: 10px 15px;
}

input[type="submit"], button[type="submit"] {
    padding: 12px 20px;
    font-weight: 400;
}

.website-chacker-from {
    margin-top: 30px;
}

.header-area {
    padding: 20px 0;
}
/*CSS For Hero Area End*/
